.login-form{
    display: flex;
    justify-content: center;
    margin: 200px auto;
    width: 30%;
    background-image:radial-gradient(rgb(255, 255, 255), #f0f0f4);
    border-radius: 10px;
    box-sizing: border-box;
}

.login-form form{
    box-sizing: border-box;
    margin: 24px;
}

.login-form h2{
    text-align: center;
    margin: 50px 0;
    font-size: 30px;
}

.login-form span{
    color: #0064C7;
}