.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px - 50px);  
}

.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

.login-form form{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 32px;
    background-color: #f0f0f0;

}

.login-form h2{
    text-align: center;
    margin: 20px 0px 40px 0px;
    font-size: 28px;
}

.login-form span{
    color: var(--primary-color);
}