/* Cores para modo claro */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #027dd4;
  --md-primary-fg-color--light: #027dd4;
  --md-primary-fg-color--dark: #027dd4;
  --md-accent-fg-color: #027dd4;
}

/* Cores para modo escuro */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #027dd4;
  --md-primary-fg-color--light: #027dd4;
  --md-primary-fg-color--dark: #027dd4;
  --md-accent-fg-color: #027dd4;
}


::selection {
  background-color: #008efa;
  color: #000;
}

::-moz-selection {
  background-color: #008efa;
  color: #000;
}

.md-typeset table:not([class]) th {
  background-color: #2094f3;
  color: white;
  font-size: 14px;
}
.md-header__title {
  font-size: 1.1rem;
}

.md-header__inner,
.md-tabs__link {
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}
