.main-footer{
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
}

.main-footer div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color);
    font-size: 12px;
}