.container-dashboard {
  display: flex;
  margin: auto;
  align-items: center;
}

.container-table-pages {
  height: 100vh;
}

.container-search-button {
  display: flex;
  flex-direction: row-reverse;
}

.container-text-input {
  flex: 1;
  overflow-y: auto;
}

.form-user-add {
  width: calc(100vw - 28rem);
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--light-color);
  border: .1rem solid var(--neutral-color);
  border-radius: .8rem;
  box-shadow: 0 .2rem .4rem var(--dark-color);
  overflow-y: auto; 
  box-sizing: border-box;
  height: 95vh;
}

.form-contract-add{
  width: calc(100vw - 28rem);
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--light-color);
  border: .1rem solid var(--neutral-color);
  border-radius: .8rem;
  box-shadow: 0 .2rem .4rem var(--dark-color);
  overflow-y: auto; 
  box-sizing: border-box;
  height: 95vh;
}

.form-user-add h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
  height: 100%;
}

.form-user-add form {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  flex-direction:row;
  width: 100%;
}

.button-add-employer-confirm {
  width: 50%;
  padding: 1.4rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  border: 1px solid var(--dark-color);
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-size: 1.8rem;
  color: var(--light-color);
  transition-duration: 0.5s;
  font-weight: 600;
}

.button-add-employer-confirm:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.container-dashboard {
  font-size: 1.8rem;
}