@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #0064C7;
    --secondary-color: #023e7a;
    --body-color: #FAFAFA;
    --text-color: #2e2e2e;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color);
    overflow: hidden;
    font-family: "Roboto Flex", sans-serif;
}