.div-button-login button{
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid var(--dark-color);
    box-sizing: border-box;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    color: var(--light-color);
    transition-duration: .5s;
}

.div-button-login button:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}